*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.logo {
  text-decoration: none;
}

.logo i {
  padding-right: 0.5em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #004977;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  color: #fff;
  font-weight: 700;
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
}

.nav-item:hover {
  background-color: #fff;
}

.nav-item:hover a {
  color: #004977;
}

.nav-item-login {
  background-color: #002840;
  font-weight: 700;
  border-radius: 10%;
}
