* {
  font-family: Verdana;
  color: rgb(71, 71, 71);
  font-size: small;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 66, 95);
  color: white;
  padding: 1em 2em;
}

.profile-picture {
  /* Redondear la imagen y darle un tamaño maximo de 200px */
  align-content: center;
  border-radius: 100%;
  max-height: 200px;
}

.presentacion {
  background-color: white;
  margin: 2%;
  color: rgb(92, 92, 92);
  padding: 2%;
  border-radius: 2em;
}

.nav-bar {
  display: flex;
}

.datos-personales {
  background: #d1d0d0;
  padding: 1%;
}

.title {
  font-weight: bold;
}

.contenido {
  padding: 2em;
}

.date {
  color: gray;
  font-size: small;
}

h3 {
  background-color: rgb(183, 176, 189);
  padding: 2px;
}

.my-button {
  padding: 10px 20px;
  background-color: rgb(60, 66, 95);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-button:hover {
  background-color: rgba(60, 66, 95, 0.774);
}

.grid {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto, repeat(5, 1fr);
  background-color: #fff;
}

.datos {
  border-radius: 2em;
  padding: 1em;
}

.datos:nth-child(1) {
  display: flex;
  align-items: center;
  grid-column: span 12;
  background-color: darkcyan;
  color: #fff;
}

.datos:nth-child(2) {
  background-color: azure;
  grid-column: span 4;
  grid-row-start: 2;
  grid-row-end: 7;
}

.datos:nth-child(3),
.datos:nth-child(4),
.datos:nth-child(5),
.datos:nth-child(6),
.datos:nth-child(7) {
  background-color: #e6e6e6;
  grid-column-start: 5;
  grid-column-end: 13;
}
