@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}
.card {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff8c00, #ffd700);
  border: 3px solid #000;
  width: 450px;
  border-radius: 1em;
  margin: 2em;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  position: relative;
  top: -0.75em;
  left: 0;
  padding: 0.15em 3em;
  background: linear-gradient(to right, #ff5500, #ff6f00, #ff5500);
  border: 3px solid #000;
  color: #000;
  border-radius: 0.5em;
}

.card img {
  width: 75%;
}

.info {
  padding: 2em 1em;
}

.info p {
  text-align: justify;
  font-weight: bold;
  padding-bottom: 0.25em;
}
